<%- include('../partials/header'); -%>
        <ul style="height: 40px;">
            <li><img src="../Resources/IMG/bustoshow text logo -white outline no fill.png" style="width: 180px; margin-top: 10px; margin-left: 20px;"></li>
            <li style="float: right;"><a href="/design3">Design 3</a></li>
            <li style="float: right;"><a href="/design2">Design 2</a></li>
            <li style="float: right;"><a href="/">Design 1</a></li>
        </ul>

        <img class="w3-center" src="../Resources/IMG/bts-orange-test.png" style="width: 100%;">
        <h1 style="font-family: airstrip_fourregular; font-size: 34px; color: #ff420f; margin-bottom: 40px; text-align: center;">Bus To Show</h1>
        <div class="w3-row w3-container" style="margin-bottom: 20px;">
            <div class="w3-col s4 whitetext" style="height: 700px; background-color: #ff420f; margin-left: 75px; border-radius: 12px; border: 1px solid #fbfbfb;">
                <div style="margin: 20px;">
                    <h1 style="font-size: 40px; font-family: airstrip_fourregular; margin-bottom: 20px;">About Us</h1>
                    <p style=" font-size: 16px; font-family: airstrip_fourregular;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Cras ornare arcu dui vivamus arcu. Lectus arcu bibendum at varius vel pharetra vel. A arcu cursus vitae congue mauris. 
                        Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Adipiscing commodo elit at imperdiet dui accumsan. 
                        Urna cursus eget nunc scelerisque viverra mauris in aliquam sem. Sapien pellentesque habitant morbi tristique senectus 
                        et netus. Suspendisse interdum consectetur libero id faucibus nisl. Ipsum faucibus vitae aliquet nec ullamcorper. Leo 
                        a diam sollicitudin tempor id eu. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Morbi leo urna molestie 
                        at elementum eu. Donec ultrices tincidunt arcu non sodales neque sodales. Quam adipiscing vitae proin sagittis nisl 
                        rhoncus mattis rhoncus.</p>
                </div>
            </div>
            <div class="w3-col s6 w3-center" style="height: 250px; margin-left: 50px; margin-bottom: 50px;">
                <img src="../Resources/IMG/concert7.jpg" style="height: 250px; width: 700px; border-radius: 12px; border: 1px solid #fbfbfb;">
            </div>
            <div class="w3-col w3-center" style="width: 216.6px; height: 400px; background-color: #fbfbfb; border-radius: 12px; border: 1px solid #ff420f; margin-left: 50px;">
                <h1 style="font-size: 30px; font-family: airstrip_fourregular; margin-top: 20px; color: #ff420f;">Stat 1</h1>
                <hr style="background-color: #ff420f; width: 80%; height: 2px; margin-left: 10%;">
                <canvas id="myChart1" style="width:100%;max-width:700px"></canvas>
                <p style="font-size: 12px; font-family: airstrip_fourregular; margin-top: 15px; margin-left: 10px; color: #ff420f; text-align: left;">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam ut venenatis tellus 
                    in metus vulputate eu scelerisque felis.</p>
            </div>
            <div class="w3-col s2 w3-center" style="width: 216.6px; height: 400px; background-color: #ffc4b4; border-radius: 12px; border: 1px solid #ff420f; margin-left: 25px; margin-right: 25px;">
                <h1 style="font-size: 30px; font-family: airstrip_fourregular; margin-top: 20px; color: #ff420f;">Stat 2</h1>
                <hr style="background-color: #ff420f; width: 80%; height: 2px; margin-left: 10%;">
                <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
                <p style="font-size: 12px; font-family: airstrip_fourregular; margin-top: 15px; margin-left: 10px; color: #ff420f; text-align: left;">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam ut venenatis tellus 
                    in metus vulputate eu scelerisque felis.</p>
            </div>
            <div class="w3-col s2 w3-center" style="width: 216.6px; height: 400px; background-color: #fbfbfb; border-radius: 12px; border: 1px solid #ff420f;">
                <h1 style="font-size: 30px; font-family: airstrip_fourregular; margin-top: 20px; color: #ff420f;">Stat 3</h1>
                <hr style="background-color: #ff420f; width: 80%; height: 2px; margin-left: 10%;">
                <canvas id="myChart3" style="width:100%;max-width:700px"></canvas>
                <p style="font-size: 12px; font-family: airstrip_fourregular; margin-top: 15px; margin-left: 10px; color: #ff420f; text-align: left;">Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam ut venenatis tellus 
                    in metus vulputate eu scelerisque felis.</p>
            </div>
        </div>
<%- include('../partials/footer1'); -%>