<script>
    var xyValues = [
    {x:50, y:7},
    {x:60, y:8},
    {x:70, y:8},
    {x:80, y:9},
    {x:90, y:9},
    {x:100, y:9},
    {x:110, y:10},
    {x:120, y:11},
    {x:130, y:14},
    {x:140, y:14},
    {x:150, y:15}
    ];

    new Chart("myChart1", {
        type: "scatter",
        data: {
            datasets: [{
                pointRadius: 4,
                pointBackgroundColor: "black",
                data: xyValues
            }]
        },
        options: { 
            legend: {display: false},
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "black",
                        fontSize: 10,
                        stepSize: 2,
                        beginAtZero: false
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "black",
                        fontSize: 10,
                        stepSize: 20,
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>

<script>
    var xyValues = [
    {x:50, y:7},
    {x:60, y:8},
    {x:70, y:8},
    {x:80, y:9},
    {x:90, y:9},
    {x:100, y:9},
    {x:110, y:10},
    {x:120, y:11},
    {x:130, y:14},
    {x:140, y:14},
    {x:150, y:15}
    ];

    new Chart("myChart2", {
        type: "scatter",
        data: {
            datasets: [{
                pointRadius: 4,
                pointBackgroundColor: "black",
                data: xyValues
            }]
        },
        options: { 
            legend: {display: false},
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "black",
                        fontSize: 10,
                        stepSize: 2,
                        beginAtZero: false
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "black",
                        fontSize: 10,
                        stepSize: 20,
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>

<script>
    var xyValues = [
    {x:50, y:7},
    {x:60, y:8},
    {x:70, y:8},
    {x:80, y:9},
    {x:90, y:9},
    {x:100, y:9},
    {x:110, y:10},
    {x:120, y:11},
    {x:130, y:14},
    {x:140, y:14},
    {x:150, y:15}
    ];

    new Chart("myChart3", {
        type: "scatter",
        data: {
            datasets: [{
                pointRadius: 4,
                pointBackgroundColor: "black",
                data: xyValues
            }]
        },
        options: { 
            legend: {display: false},
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "black",
                        fontSize: 10,
                        stepSize: 2,
                        beginAtZero: false
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "black",
                        fontSize: 10,
                        stepSize: 20,
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>
</body>
</html>